html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

body {
    color: #4d91e9;
    margin: 0;
}

#top {
    text-align: center;
    line-height: 5px;
    border-bottom: #4d91e9 1px dashed;
    font-weight: bold;
}

.skills, tr {
    border: #4d91e9 1px dashed;
    width: 100%;
}